*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width:1903px;
    margin:auto;
}
.main{
    background:url('../img/bg-main.png') no-repeat;
    text-align: center;
    padding-bottom:40px;
    margin-bottom:150px;
}
.logo{
    padding-top: 77px;
    padding-bottom: 160px;
}
.main-subtitle{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.main-title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    font-variant: all-small-caps;
    color: #FFFFFF;
}
h2.main-subtitle{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.main-btn-sigup-consult{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background:transparent;
    outline:none;
    border:none;
    display:flex;
    align-items: center;
    margin:auto;
}
.main-btn-sigup-consult:hover{
    cursor:pointer;
}
.btn-signup-consult-image{
    margin-left: 20px;
}
.soc-links__list-items{
    display:flex;
    justify-content:space-around;
    width:200px;
    margin:auto;
    margin-top:180px;
}
/* styles for services */
.services__content{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.services__title{
    font-family:'Noto Sans';
    font-style:normal;
    font-weight:700;
    font-size:24px;
    line-height:33px;
    color: #868585;
    margin-top:-50px;
    margin-bottom:60px;
}
.block-service__title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    margin-bottom:15px;
    margin-bottom: 15px;
}
.block-service__text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
    margin-right: 90px;
    margin-bottom:50px;
}
/* styles for section rate */
.rate__content{
    width: 1200px;
    display:flex;
    margin:auto;
    justify-content:space-around;
    margin-bottom:100px;
}
.rate__title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
    margin-bottom:60px;
}
.rate__links{
    margin-bottom: 125px;
}
.rate__link{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    text-decoration: none;
    margin-right: 50px;
}
.rate__link:nth-child(1){
    padding-bottom:5px;
    border-bottom:1px solid black;
}
.rate__slider{
    display:flex;
}
.slider__text{
    display:flex;
    flex-direction:column;
}
.slider__image{
    margin-right: 40px;
}
.slider__text-describe{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
    margin-bottom:80px;
}
.rate__describe-text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    margin-bottom: 25px;
}
.rate__describe{
    margin-top:100px;
}
.slider__arrow-back{
    margin-right: 22px;
}
.rate-features__list-items{
    margin-top:75px;
    list-style-type:none;
    display:grid;
    grid-template-rows:repeat(2,150px);
    grid-template-columns:repeat(2,250px);
}
.rate-feature__title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    margin-bottom: 10px;
}
.rate-feature__describe{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
}
/* styles for section blockquote */
.blockquote-cite{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
}
.blockquote__content{
    padding:128px 0px;
    background:url('../img/bg-blockquote.svg') no-repeat;
    margin-bottom: 150px;
}
/* styles for section clients */
.clients__content{
    display:flex;
    justify-content:space-around;
    width: 1200px;
    margin:auto;
    margin-bottom:150px;
}
.clients__title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
    margin-bottom: 60px;
}
.clients__describe-text{
    margin-top:100px;
}
.clients__describe-text-title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    margin-bottom: 30px;
}
.clients__list-items{
    list-style-type:none;
    margin-left:30px;
    margin-bottom: 75px;
}
.clients__item{
    margin-bottom:15px;
}
.clients__btn-signup-consult{
    border:none;
    outline:none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    background-color:transparent;
    margin-left:30px;
}
.clients__btn-signup-consult{
    display:flex;
    align-items: center;
}
.clients__btn-signup-consult:hover{
    cursor:pointer;
}
.btn-signup-consult__image{
    margin-left: 35px;
}
.slider-arrows__clients{
    margin-left:250px;
    margin-top:25px;
}
/* styles for section steps */
.steps__content{
    display:flex;
    width: 1300px;
    justify-content:space-around;
    margin:auto;
    margin-bottom: 150px;
}
.steps__title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
}
.steps__list-items{
    margin-top:40px;
    list-style-type:none;
}
.num-step{
    margin-bottom:5px;
    display:inline-block;
}
.title__step{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
}
.describe__step{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
    margin-bottom:45px;
}
/* styles for section footer */
.footer{
    background:url('../img/bg-footer.svg') no-repeat;
}
.footer__content{
    display:flex;
    margin:auto;
    width: 1200px;
    justify-content:space-between;
}
.footer__title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top:60px;
    margin-bottom:60px;
}
.footer-form{
    display:flex;
    flex-direction:column;
}
.footer-form input{
    border:none;
    outline:none;
    background-color:transparent;
    border-bottom:1px solid #FFFFFF;
    margin-bottom: 60px;
    padding-bottom: 10px;
    width: 510px;
}
.footer-form input::placeholder{
    color:white;
}
.footer__btn-sign-up{
    display:flex;
    background-color:transparent;
    border:none;
    outline:none;
    color:white;
    align-items: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    justify-content:space-between;
    margin-left: 50px;
}
.footer-btn-sign-up__image{
    margin-left: 25px;
}
.footer__title-contacts{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 60px;
}
.footer__conctacts-list-items{
    margin-top: 60px;
    list-style-type:none;
    margin-bottom: 160px;
}
.footer__contacts-item{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.footer__bottom{
    display:flex;
    margin:auto;
    width: 1200px;
    justify-content:space-between;
    align-items: center;
    padding-bottom:45px;
}
.privacy-policy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-soc-links__list-items{
    display:flex;
    width:200px;
    justify-content:space-between;
}